@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Common Styles */
body{
    font-family: "Open Sans", sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    padding: 15px 35px;
    color: white;
    font-weight: 700;
}
/* Navegiatoin Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-name{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none; 
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
